<div class="container">
  <div class="card-wrapper">
    <div id="circle-1" class="background-circle background-circle--darker"></div>
    <div id="circle-2" class="background-circle background-circle--lighter"></div>
    <div id="circle-3" class="background-circle background-circle--lighter"></div>
    <h1 class="converter-card__title">Playlist<br><span>converter</span></h1>
    <app-card class="converter-card">
      <form class="converter-card__form" [formGroup]="formGroup" content>
        <div>
          <h1>Convertis ta playlist !</h1>
          <p>
            Colle l'URL de ta playlist, et notre convertisseur s'occupe du reste.
          </p>
        </div>
        <label class="converter-card__input" *ngIf="urlFormControl?.enabled" [ngClass]="{'converter-card__input--error':
        urlFormControl.invalid && urlFormControl.dirty}">
          <i class="material-icons">link</i>
          <input formControlName="url" (change)="handleUrlChange()" placeholder="Colle ton URL ici"/>
        </label>
        <label class="converter-card__input" *ngIf="nameFormControl?.enabled" [ngClass]="{'converter-card__input--error':
        nameFormControl.invalid && nameFormControl.dirty}">
          <i class="material-icons">playlist_add</i>
          <input formControlName="name" (change)="handleUrlChange()" placeholder="Nom de la playlist"/>
        </label>
        <section class="converter-card__buttons-row">
          <app-expandable-button id="apple" class="converter-card__button" iconSrc="../../assets/images/apple-music.svg"
                                 iconAlt="Apple Music" (buttonClick)="convertPlaylist('apple')"
                                 [disabled]="isButtonDisabled('apple')">
            Convertir vers Apple Music
          </app-expandable-button>
          <app-expandable-button id="spotify" class="converter-card__button" iconSrc="../../assets/images/spotify.svg"
                                 iconAlt="Spotify" (buttonClick)="convertPlaylist('spotify')"
                                 [disabled]="isButtonDisabled('spotify')">
            Convertir vers Spotify
          </app-expandable-button>
          <app-expandable-button id="deezer" class="converter-card__button" iconSrc="../../assets/images/deezer.svg"
                                 iconAlt="Deezer" (buttonClick)="convertPlaylist('deezer')"
                                 [disabled]="isButtonDisabled('deezer')">
            Convertir vers Deezer
          </app-expandable-button>
        </section>
      </form>
      <ng-container footer></ng-container>
    </app-card>
  </div>
</div>
